/* Setting Layer */

/* black */
$black: #000;
$black-dark-grey: #363636;

/* grey */
$grey: #a4b0be;
$dark-grey: #2f3542;
$grey-fortress-grey: #b8b8b8;
$grey-snow-flake: #f0f0f0;

/* white */
$white: #fff;
$white-dr-white: #fafafa;

/* blue */
$blue-hidden-sea-glass: #6dd3ce;

/* purple */
$purple: #7957d5;
$light-purple: #c093d4;

/* red */
$red-coral: #ff7f50;
$red-dragon-fruits: #d45a66;

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
