.app-button {
  display: flex;
  padding: 10px 20px;
  margin: 30px auto 0;
  font-weight: bold;
  color: $black;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 6px;

  &.-disabled {
    color: $white;
    pointer-events: none;
    background-color: $dark-navy;
    border: 2px solid $dark-navy;
  }

  &.-navy {
    color: $white;
    background-color: $navy;
    border: 1px solid $navy;
  }
}
