.index-title-wrapper {
  display: flex;
  gap: 120px;
  justify-content: center;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: bold;

  @include tab {
    gap: 40px;
  }

  > .expense {
    padding: 5px 50px;
    border: 2px solid $blue-hidden-sea-glass;
    border-radius: 6px;

    @include tab {
      padding: 5px 30px;
    }
  }

  > .expense.-active {
    background-color: $blue-hidden-sea-glass;
  }

  > .income {
    padding: 5px 50px;
    border: 2px solid $red-coral;
    border-radius: 6px;

    @include tab {
      padding: 5px 30px;
    }
  }

  > .income.-active {
    background-color: $red-coral;
  }
}
