.app-input-form-container {
  margin-bottom: 30px;

  > .input {
    width: 100%;
    padding: 10px;
    background-color: $dark-navy;
    border: 2px solid $dark-navy;
    border-radius: 6px;
  }

  > .input.-income {
    width: 100%;
    padding: 10px;
    border: 2px solid $red-coral;
    border-radius: 6px;
  }

  > .caution {
    font-weight: bold;
    color: $red-dragon-fruits;
  }
}
