.app-radiobutton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  outline: none;

  > .radiobutton {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-align: center;
    border: 2px solid $purple;
    border-radius: 6px;
  }

  > .radiobutton.-checked {
    color: $white;
    background-color: $purple;
  }

  > .radiobutton.-income {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-align: center;
    border: 2px solid $purple;
    border-radius: 6px;
  }

  > .radiobutton.-income.-checked {
    background-color: $purple;
  }

  > .radiobutton > .icon {
    width: 30px;
    height: 30px;
  }
}
