.app-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  > .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    height: 500px;
    padding: 50px;
    background-color: $white;
    border: 1px solid $white;
    border-radius: 6px;
    box-shadow: $black-shadow;
  }

  > .container > .list > .title {
    color: $dark-navy;
  }
}
