.expense-card {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  width: 40%;
  padding: 10px;
  border-radius: 6px;

  @include pc {
    grid-template-columns: repeat(2, 1fr);
  }

  > .container {
    border: 1px solid $grey-snow-flake;
    border-radius: 6px;
    box-shadow: 0 5px 5px 5px $black-shadow;
  }

  > .container > .date {
    padding: 10px;
    font-size: 1.6rem;
    color: $white;
    text-align: center;
  }

  > .container > .date.-expense {
    background-color: $dark-navy;
    border-radius: 6px 6px 0 0;
  }

  > .container > .date.-income {
    background-color: $red-coral;
    border-radius: 6px 6px 0 0;
  }

  > .container > .category {
    padding: 10px 10px 0;
    font-size: 2rem;
    color: $grey;
    text-align: center;
    background-color: $white;
  }

  > .container > .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 20px;
    background-color: $white;
  }

  > .container > .box > .img {
    width: 70px;
    height: 50px;
  }

  > .container > .box > .price {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
