.header-container {
  background-color: $navy;
  box-shadow: 0 5px 5px 5px $black-shadow;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    height: 60px;
    margin: 0 auto;
  }

  > .container > .title {
    font-size: 2.4rem;
    color: $white;
  }
}
