.input-date-form {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  color: $white;
  background-color: $dark-navy;
  border: 2px solid $dark-navy;
  border-radius: 6px;

  &.-income {
    border: 2px solid $red-coral;
  }
}
