.test-container {
  width: 100%;
  height: 100%;

  > .container {
    display: grid;
    grid-template-columns: 55% 45%;

    @include tab {
      display: block;
    }
  }

  > .container > .wrapper > .content {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 10px;
    border: 2px solid $grey-fortress-grey;
    border-radius: 6px;

    @include pc {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  > .container > .block > .title.-active {
    border-bottom: 1px solid $grey-fortress-grey;
  }
}
